<!DOCTYPE html>
<html lang="ja">

<head>
  {% include head.html %}
</head>

<body>
  <div class="film-grain"></div>

  <header class="site-header">
    <div class="container">
      {% if page.url == "/" %}
      <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% else %}
      <p class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>
      {% endif %}
      {% if page.url == "/" %}
      <p class="site-description">{{ site.description }}</p>
      {% else %}
      <p class="site-description-mini">{{ site.description }}</p>
      {% endif %}
    </div>
  </header>

  <main class="site-content">
    <div class="container">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{ site.time | date: "%Y" }} <a href="https://github.com/niusounds">@niusounds</a></p>
    </div>
  </footer>
</body>

</html>